    body {
        font-family: "MS Serif", "New York", sans-serif;
    }

    .container {
        padding: 2% 0% 2% 8%;
    }

    .font-size-address {
        font-size: 10px
    }

    .img-logo {
        height: 50px;
    }

    .address {
        z-index: 1;
        margin: -55px 0px 0px 55px;
        font-size: 8px;
    }

    .title {
        margin: -60px 0px 80px 210px;
    }

    .title b {
        border-style: double;
        padding: 5px 30px 5px 30px;
        width: 300px;
        font-size: 20px;
    }

    .title p {
        margin: 15px 0px 0px 0px;
    }

    .date {
        margin: -155px 0px 30px 490px;
    }
    
    .table-custom-1 {
        width: 97.5%;
        margin: 6px 0px 0px 0px;
    }

    .table-custom-1, .table-custom-1 thead tr th, .table-custom-1 tbody tr td {
        border: 1px solid black !important;
        padding: 0px 2px 0px 2px;
    }
    
    .table-custom-1 thead tr th:nth-child(1) {
        width: 1px;
    }

    .table-custom-1 thead tr th:nth-child(3) {
        width: 120px;
    }

    .table-custom-1 thead tr th:nth-child(4) {
        width: 120px;
    }

    .table-custom-1 thead tr th:nth-child(5) {
        width: 90px;
    }

    .table-custom-1 tbody tr .giro-cek {
        border-left: 1px solid white !important;
        border-bottom: 1px solid white !important;
    }

    .giro-cek b {
        margin-bottom: 0px !important;
    }



    .table-custom-2 {
        margin: 10px 0px 0px 0px;
        width: 97.5%;
    }

    .table-custom-2, .table-custom-2 thead tr th, .table-custom-2 tbody tr td {
        border: 1px solid black !important;
        padding: 0px 5px 0px 5px;
    }