.details {
    position: absolute;
    right: 15px;
    padding-right: 15px;
}
.number {
    color: #FFFFFF;
}
.details .desc {
    color: #FFFFFF;
    opacity: 1;
    filter: alpha(opacity=100);
}
.details .number {
    padding-top: 25px;
    text-align: right;
    font-size: 34px;
    line-height: 36px;
    letter-spacing: -1px;
    margin-bottom: 0px;
    font-weight: 300;
}
.desc {
    text-align: right;
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: 300;
}

.morebiru {
color: #FFFFFF;
background-color: #258fd7;
}

.morebiru {
clear: both;
display: block;
padding: 6px 10px 6px 10px;
position: relative;
text-transform: uppercase;
font-weight: 300;
font-size: 11px;
opacity: 0.7;
    margin-top: 45px;
filter: alpha(opacity=70);
}


.morehijauawal {
color: #FFFFFF;
background-color: #26a69a;
}

.morehijauawal {
clear: both;
display: block;
padding: 6px 10px 6px 10px;
position: relative;
text-transform: uppercase;
font-weight: 300;
font-size: 11px;
opacity: 0.7;
  margin-top: 45px;
filter: alpha(opacity=70);
}

.moremerah {
color: #FFFFFF;
background-color: #cb5a5e;
}

.moremerah {
clear: both;
display: block;
padding: 6px 10px 6px 10px;
position: relative;
text-transform: uppercase;
font-weight: 300;
font-size: 11px;
opacity: 0.7;
  margin-top: 45px;
filter: alpha(opacity=70);
}

.moreungu {
color: #FFFFFF;
background-color: #8775a7;
}

.moreungu {
clear: both;
display: block;
padding: 6px 10px 6px 10px;
position: relative;
text-transform: uppercase;
font-weight: 300;
font-size: 11px;
opacity: 0.7;
  margin-top: 45px;
filter: alpha(opacity=70);
}

.morekuning {
color: #FFFFFF;
background-color: #c49f47;
}

.morekuning {
clear: both;
display: block;
padding: 6px 10px 6px 10px;
position: relative;
text-transform: uppercase;
font-weight: 300;
font-size: 11px;
opacity: 0.7;
  margin-top: 45px;
filter: alpha(opacity=70);
}


.morekuningkus {
color: #FFFFFF;
background-color: #f3c200;
}

.morekuningkus {
clear: both;
display: block;
padding: 6px 10px 6px 10px;
position: relative;
text-transform: uppercase;
font-weight: 300;
font-size: 11px;
opacity: 0.7;
  margin-top: 45px;
filter: alpha(opacity=70);
}


.moreredintense {
color: #FFFFFF;
background-color: #e35b5a;
}

.moreredintense {
clear: both;
display: block;
padding: 6px 10px 6px 10px;
position: relative;
text-transform: uppercase;
font-weight: 300;
font-size: 11px;
opacity: 0.7;
  margin-top: 45px;
filter: alpha(opacity=70);
}

.chambray {
color: #FFFFFF;
background-color: #2C3E50;
}

.chambray {
clear: both;
display: block;
padding: 6px 10px 6px 10px;
position: relative;
text-transform: uppercase;
font-weight: 300;
font-size: 11px;
opacity: 0.7;
  margin-top: 45px;
filter: alpha(opacity=70);
}

.bluemadison {
color: #FFFFFF;
background-color: #4884b8;
}

.bluemadison {
clear: both;
display: block;
padding: 6px 10px 6px 10px;
position: relative;
text-transform: uppercase;
font-weight: 300;
font-size: 11px;
opacity: 0.7;
  margin-top: 45px;
filter: alpha(opacity=70);
}

.purplewisteria {
color: #FFFFFF;
background-color: #9B59B6;
}

.purplewisteria {
clear: both;
display: block;
padding: 6px 10px 6px 10px;
position: relative;
text-transform: uppercase;
font-weight: 300;
font-size: 11px;
opacity: 0.7;
  margin-top: 45px;
filter: alpha(opacity=70);
}

.redflamingo {
color: #FFFFFF;
background-color: #EF4836;
}

.redflamingo {
clear: both;
display: block;
padding: 6px 10px 6px 10px;
position: relative;
text-transform: uppercase;
font-weight: 300;
font-size: 11px;
opacity: 0.7;
  margin-top: 45px;
filter: alpha(opacity=70);
}
.yellowcasablanca {
color: #FFFFFF;
background-color: #EF4836;
}

.yellowcasablanca {
clear: both;
display: block;
padding: 6px 10px 6px 10px;
position: relative;
text-transform: uppercase;
font-weight: 300;
font-size: 11px;
opacity: 0.7;
  margin-top: 45px;
filter: alpha(opacity=70);
}

.morehijau {
color: #FFFFFF;
background-color: #1BA39C;
}


.morehijau {
clear: both;
display: block;
padding: 6px 10px 6px 10px;
position: relative;
text-transform: uppercase;
font-weight: 300;
font-size: 11px;
opacity: 0.7;
filter: alpha(opacity=70);
}



.visual {
display: block;
float: left;

}
