.bc-link-active > a{
	color: #00BCD4 !important;
}

.bc-link-notactive > a:hover, .bc-link-notactive > a{
	cursor: default !important;
}

.modal-body .row .col-md-12 .login{
	background-color: #fff !important;
}
.modal-body .row .col-md-12 .login .content{
	background: none !important;
	background-color: #fff !important;
	padding: 10px 0;
}
.modal-body .row .col-md-12 .login .content h3{
	color: #8290a3;
    margin: 0 0 10px 0 !important;
}
.modal-body .row .col-md-12 .login .content .input-icon .fa{
	font-size: 24px !important;
	margin: 14px 10px;
}
.modal-body .row .col-md-12 .login .content #notice{
	margin: 8px 0;
	padding: 4px;
}
.modal-body .row .col-md-12 .login .content #notice .close{
	margin-right: 4px;
    margin-top: 4px;
}

.page-logo img{
	width: auto;
    height: 26px;
    margin-top: 10px !important;
}

.dashboard-stat {
	margin-bottom: 20px !important;
}

.sw-tcenter{text-align: center;}
.sw-tleft{text-align: left;}
.sw-tright{text-align: right;}
.sw-tbold{font-weight: bold;}

/* EHEALTH PROFILE */
#listprofile > div > div.portlet-body > li{
	list-style: none;
}

#listprofile > div > div.portlet-body > li > .task-title{
	padding: 2px;
}

#listprofile > div > div.portlet-body > li > .task-title > span{
	vertical-align: middle;
    padding: 0 8px;
    line-height: 22px;
}
#profile_default #profile_img img.thumb{
	height: 154px;
    width: auto;
	margin: 0 auto;
}
.tabbable-custom{
	display: inline-block;
    width: 100%;
    margin-top: 10px;
}
.portfolio-block{
	height: 165px;
}
.timeline{
	display: inline;
}
/* END EHEALTH PROFILE */


/* EVENT */
.profile-map .b-contacts_map_marker {
	color: #e65050 !important;
	font-size: 40px;
}
.profile-map{
	border: 4px solid #578ebe;
}

.profile-cp-link{
	background: rgba(0,0,0,.5);
	padding: 4px;
	text-align: center;
}

.profile-cp-link span a{
	color: #fff;
	padding-left: 4px;
}

.profile-cp-link span i{
	font-size: 16px;
}

.carousel-inner>.item{
	height: inherit;
	text-align: -webkit-center;
}

.carousel-control.right, .carousel-control.left{
	width: 0;
	background-image: none;
}

.carousel.image-carousel .carousel-inner{
	background-color: rgba(0,0,0,.5);
}

.btn-group.open .dropdown-menu.pull-right{
	margin-top: 0;
	right: -3px;
}

/*
.profile-sidebar{
	width: 100% !important;
    height: 100%;
    margin-right: 0;
    border: 5px solid;
}
.profile-sidebar-box{
	margin-bottom: 10px;
}
.profile-sidebar-portlet{
	padding: 0 !important;
	height: 100%;
	border: none;
}
.profile-sidebar-portlet .profile-usertitle{
	position: absolute;
    bottom: 0;
    width: calc(100% - 16px);
    background-color: rgba(0,0,0,.8);
    margin: 0;
	display: none;
}
.profile-sidebar-portlet .profile-usertitle > .profile-usertitle-name, .profile-usertitle-job{
	color: #fff;
	margin: 0;
	text-transform: none;
	padding: 4px 0;
}
.profile-sidebar-portlet .profile-usertitle > .profile-usertitle-name{
	font-size: 16px;
}
.profile-sidebar-portlet .profile-usertitle > .profile-usertitle-job{
	font-size: 12px;
}
.profile-sidebar .portlet{
	margin-bottom: 10px;
	height: 100%;
}
.profile-sidebar-portlet .profile-userpic{
	width: 100%;
	height: 100%;
	padding: 8px;
}
.profile-sidebar-portlet .profile-userpic > img{
	width: auto;
    height: 100%;
}
*/
/* END EVENT */

@media (max-width: 767px) {
	.page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu {
		right: 0;
		margin-right: 0;
	}
}
.header-icon{color: #fff !important;}
.mega-menu-dropdown.open{
	color: #d2d2d2;
    background: #393939 !important;
}
.mega-menu-dropdown .groupmenucaption{
	border-bottom: solid 1px #f0f0f0;
	line-height: normal;
}
.mega-menu-dropdown .mega-menu-submenu{
	padding: 8px !important;
	min-width: initial !important;
}

.mega-menu-dropdown .mega-menu-submenu .dropdownmenu-itemicon{
	float: left;
}

.mega-menu-dropdown .mega-menu-submenu .dropdownmenu-itemlist{
	float: left;
	padding-left: 4px;
	/* max-width: calc(100% - 18px); */
}

.page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > a{
	display: inline-block;
	width: 100%;
}

.page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content{
	padding: 0 15px;
}

.page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu{
	width: auto;
	left: auto;
}

.dropdownmenu-group{
	border-top: 1px solid;
}

#toast-container>div{
	padding: 8px;
	width: auto;
	min-width: 420px;
	max-width: 50vw;
	background-position: 4px 8px;
}

#toast-container .toast-title{
	padding-left: 30px;
}
#toast-container .toast-message{
	padding:10px 30px;
	max-height: 200px;
	overflow: auto;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle{
	padding: 8px;
	display: inline-block;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle > img{
	margin: 0;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-menu{
	width: 370px;
}

.dropdown-user-action > a{
	text-decoration: none;
	color: #fff;
	display: block;
}

.dropdown-user-action{
	background: rgba(0,0,0,1);
	padding: 4px;
	text-align: center;
}

.dropdown-user-action:hover{
	background: rgba(0,0,0,.8);
	cursor: pointer;
}

.dropdown-user-profile{
	padding: 8px;
	background: url("../img/landscape-profile.jpg"); 
	background-size: 100% auto;
	text-align: center;
}

.dropdown-user-profile > div > img{
	width: 90px;
	height: 90px;
	border: 3px solid #fff;
}

.dropdown-user-title{
	margin-top: 16px;
	font-weight: bold;
	color: #fff;
}

.dropdown-user-company{
	font-size: 10px;
	font-weight: bold;
	color: #fff;
}

.page-header.navbar .top-menu .navbar-nav .details{
	text-align: left;
}

.page-header.navbar .top-menu .navbar-nav .details-read{
	background: #fff;
}

.page-header.navbar .top-menu .navbar-nav .details-noread{
	background: rgba(0, 0, 0, .1);
}

.page-header.navbar .top-menu .navbar-nav .details-user{
	width: 50px;
	height: 50px;
	float: left;
}

.page-header.navbar .top-menu .navbar-nav .details-user > img{
	width: 100%;
	height: 100%;
}

.page-header.navbar .top-menu .navbar-nav .details-message{
	width: calc(100% - 50px - 8px);
	float: right;
}

.page-header.navbar .top-menu .navbar-nav .details-status{
	width: calc(100% - 50px - 8px);
	float: right;
	margin-top: 4px;
}

.page-header.navbar .top-menu .navbar-nav .details-status-icon{
	padding: 0 2px;
    margin-right: 4px;
}

.page-header.navbar .top-menu .navbar-nav .details-status-time{
	font-size: 11px;
}





.notif > li{
	float:left;
	width:100%;
	padding:10px 10px !important;
}

.notif .details{
	text-align: justify;
}

.notif .details-read{
	background: #fff;
}

.notif .details-noread{
	background: rgba(0, 0, 0, .1);
}

.notif .details-user{
	width: 50px;
	height: 50px;
	float: left;
}

.notif .details-user > img{
	width: 100%;
	height: 100%;
}

.notif .details-message{
	width: calc(100% - 50px - 8px);
	float: right;
}

.notif .details-status{
	width: calc(100% - 50px - 8px);
	float: right;
	margin-top: 4px;
}

.notif .details-status-icon{
	padding: 0 2px;
    margin-right: 4px;
}

.notif .details-status-time{
	font-size: 11px;
}

















.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu{
	max-width: 350px;
	width: 350px;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a{
	padding: 8px;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > a:hover{
	text-decoration: none;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external{
	padding: 4px;
	color: #62878f;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > a{
	display: block;
    position: inherit;
    text-decoration: none;
	color: inherit;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle > .badge{
	right: 2px;
}

.img-circle{
	width: 29px;
}

/* news */
.news-blocks{
	background: none;
}

.news-blocks:hover{
	background: none;
	border-color: #fff;
}
.news-blocks-content{
	border-bottom: solid;
	text-align: justify;
	margin-bottom: 10px;
	max-height: 100px;
	overflow: hidden;
	word-break: break-word;
}

.news-blocks-content p{
	word-wrap: break-word;
	text-overflow: ellipsis;
}
/* end news */
.sw_audioplayer{
	width:100%;
}

.sw_youtubeplayer{
	width:100%;
	height:100%;
}

.sw_pdfviewer{
	width:100%;
	height:100%;
}

.pagepanel{
	width: 100%;
	height: auto;
}

.portlet{
	margin-bottom: 10px;
}


.page-sidebar-fixed .page-sidebar .page-sidebar-menu > li > a, .page-sidebar-fixed
 .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a{
	width: 100%;
 }

.btn + .btn{
	margin-left: 0;
}
@media (max-width: 767px) { 
	.page-content-wrapper .page-content{
		padding: 0 20px !important;
	}
}
/** Modal CSS **/
.modal-dialog{
	margin: 30px auto;
}

.modal-title{
	font-family: "PT Sans Narrow", sans-serif;
	text-transform: uppercase;
	font-size: 20px !important;
	font-weight: 900 !important;
	color: #fff !important;
	background: rgb(53, 152, 220) !important;
    padding: 5px;
	overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.modal-header{
	border-bottom: 0 !important;
	padding: 5px;
}

.modal-body{
	padding: 0 5px !important;
	overflow-y: auto;
    overflow-x: hidden;
	max-height: 80vh;
}
.modal-body > div > .row{
	margin-right: -5px;
    margin-left: -5px;
}
.modal-footer{
	padding: 5px !important;
	text-align: right !important;
	border-top: 0 !important;
}
/** End Modal CSS **/
.page-content-wrapper .page-content .page-bar.pagebar{
	margin: 0 0 8px;
	background-color: white;
}

.highcharts-contextmenu hr{
	margin:0;
}
/*
.portlet.solid > .portlet-title > .tools > a.update {
  background-image: url(../../../metronic-v400/global/img/portlet-reload-icon-white.png);
}
.portlet.box > .portlet-title > .tools > a.update, a.config {
	color: white !important;
}
.portlet > .portlet-title > .tools > a.update, a.config, a.remove {
	width: 13px !important;
}

.portlet > .portlet-title > .tools > a.remove {
	display: none;
}
*/

.toast-bottom-full-width{
	bottom:30px;
}

.form-control[readonly]{
	background:#fff !important;
}
.page-content-wrapper .page-content .page-title{
	margin:0;
	padding: 8px 0;
}

.page-content-wrapper .page-content .page-breadcrumb.breadcrumb{
	margin:5px 0 5px 0;
}
.page-content-wrapper .page-content{
	padding:5px 20px 10px 20px;
}

.page-content-wrapper .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	padding-right:5px;
	padding-left:5px;
}

.form-body .row, .tab-content .tab-pane .row{
	margin-right:-5px;
	margin-left:-5px;
}

.form-body .row .portlet{
	margin-bottom:5px;
	margin-left:5px;
	margin-right:5px;
}
/**
.scrollable::-webkit-scrollbar, ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
**/
::-webkit-scrollbar-track,
.scrollable::-webkit-scrollbar-track {
  background-color: rgba(113,112,107,0.1);
  -webkit-border-radius: 5px;
}

::-webkit-scrollbar-thumb:vertical,
.scrollable::-webkit-scrollbar-thumb:vertical {
  background-color:#ccc;
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal,
.scrollable::-webkit-scrollbar-thumb:horizontal {
  background-color: #ccc;
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover,
.scrollable::-webkit-scrollbar-thumb:vertical:hover,
.scrollable::-webkit-scrollbar-thumb:horizontal:hover {background: #aaa;}

/**
 * APP CLOCK
 */
.clock{
	background: #707070!important;
	text-align: center;
}
.clock a:hover{
	background: #707070!important;
}
.clock #get-date {
    color: #f0f0f0;
}
.clock .digital-clock {
	margin-top: 3px;
    width: 100%;
}
.clock .digital-clock .get-time {
	font-family: "Arial";
    font-size: 25px;
	font-weight: bold;
    display: inline-block;
    width: 20%;
    color: #ffffff;
}
.clock .digital-clock span {
    font-size: 25px;
	font-weight: bold;
    margin: 0 10px;
    color: #ffffff;
}
.sidebar-header {
	text-align:center;
}
.sidebar-header a {
	width: 100%;
}

div.sidebar-header a {
	    display: block;
    position: relative;
    margin: 0;
    border: 0px;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
	color:#d9d9d9;
}
.sidebar-header span {
	font-size: 14px;
	/* margin-left: -15px; */
}
.page-sidebar .page-sidebar-menu > li > a > i, .page-sidebar:hover .page-sidebar-menu > li > a > i {
	margin-left: -10px;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar-menu > li > a > i {
	margin-left: 0px;
}
.page-sidebar .page-sidebar-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a {
	margin-right: -5px;
}
.page-sidebar .page-sidebar-menu .sub-menu li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li > a {
	padding: 5px 0 5px 28px;
}

/**
 */
.touch{
	font-size:40px;top:15px !important;cursor:pointer;display:inline !important;
}
.tile a:hover, .tile a:focus{
	text-decoration:none;
}

.modal-content{
	-webkit-box-shadow:none;
	box-shadow:none;
}

h3.typewidget1{
	margin: 5px 0px 5px 0px;
	border-bottom: 1px solid #eee;
}

.portlet .dashboard-stat:last-child{
	margin-bottom:10px;
}

.form .form-body {
	padding: 0 10px 0 10px !important;
}

.form-group {
	margin-bottom: 5px !important;
}

.portlet-tab {
	margin-bottom: 10px !important;
	border: 1px solid #f0f0f0;
	padding: 8px !important;
}

.portlet-tab > .portlet-title {
	min-height: 43px !important;
}

.portlet-tab > .portlet-body {
	padding-top: 0 !important;
	height: calc(100% - 54px);
}

.portlet-tab .portlet-body .tab-content {
	overflow: auto;
	overflow-x: hidden;
	height: 100%;
}

.portlet-tab > .portlet-title > .caption {
	padding: 7px 0 !important;
}

.portlet-tab > .portlet-title > .nav-tabs > li > a {
	padding: 10px !important;
}
.page-header.navbar .page-logo{
	padding-left: 0;
}




/* DINKES STYLE */
.dinkes-box{
	width:100%;
	height:calc(100% - 10px);
	overflow: hidden;
}

.dinkes-box:hover{
	-webkit-box-shadow: 0px 0px 5px 2px #9A12B3;
	-moz-box-shadow: 0px 0px 5px 2px #9A12B3;
	box-shadow: 0px 0px 5px 2px #9A12B3;
}

.dinkes-box > img{
	width:100%;
	min-height:100%;
}

.dinkes-box-inf{
    background: rgba(0, 0, 0, .6);
	bottom: 15px;
    position: absolute;
    width: calc(100% - 10px);
    padding: 5px;
}

.dinkes-box-inf-inline{
	vertical-align: middle;
    font-weight: 400;
    font-size: 13px;
    color: #ffffff;
}

.dinkes-box-inf-inline-title{
	font-size: 20px;
}

.dinkes-box-inf-inline-desc{
	
}

.meet-our-team-visi{
	padding-left: 40px;
	padding-top: 16px;
}

.meet-our-team-headline{
	font-size: 24.5px;
	margin-top: 32px;
}

.meet-our-team{
	padding: 4px;
	overflow: hidden;
    background: #fafafa;
}

.meet-our-team  > img{
	width: 100%;
	height: auto;
}

.meet-our-team > div > h3{
	margin-top: 0;
    margin-bottom: 4px;
	font-size: 24.5px;
}

.meet-our-team-title{
	margin-bottom: 4px;
}

/* END DINKES STYLE */