/* th, td { white-space: nowrap; }
  div.dataTables_wrapper {
      margin: 0 auto;
  }
  .fixed-div{
    position : fixed;
    top: 0;
    right: 0;
  }
  .hover{
      background-color: red;
  }
  #example{
border-bottom: none;
}
/* #example tr:last-child td:not(.options){
border-bottom: 1px solid;
} */
/* #example .options{
background: white;
border: none;
}  */
/* #example thead th, #example tbody td {
    padding: 5px 5px; /* e.g. change 8x to 4px here */
/* }  */




.dataTables_wrapper div.dataTables_paginate, .dataTables_wrapper div.dataTables_length, .dataTables_wrapper div.dataTables_info{
	display: inline-flex;
	float: none !important;
	padding: 0 !important;
	margin: 0 !important;
	position: static !important;
}
.dataTables_wrapper div.dataTables_length label, .dataTables_wrapper div.dataTables_filter label{
	font-size:13px;
}
.dataTables_wrapper .recofdt{
	width:70px !important;
	cursor: pointer;
}
.dataTables_wrapper .dtfiler{
	padding-top:4px;
	border:1px solid;
}
.dataTables_wrapper .dtfiler, .dataTables_wrapper .dtsearch{
	background:#90CAF9 !important;
}

.paginate_button{
  background-color: #2196F3;
  color: #FFF;
}

.dtfilter2_search{
	position: absolute;
	right: 10px;
	top: 10px;
	overflow: hidden;
}
.dtfilter_search_btn{
	position: absolute;
	right: -3px;
	margin: 4px;
}

.footter {
  background-color: #90CAF9 !important;
}

.dtfilter_search .dataTables_filter input{
	width: 43px;
	transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}

.clicked{
	width: calc(20vw - 10px);
	transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}
